@page "/DataBinding/DropDown"

@using BlazorECommersData

<h3>Product</h3>

Name : @product.Name
<br />
Price : @product.Price
<br />
Product Properties Selected : @SelectedProp
<br />

@if (!string.IsNullOrEmpty(SelectedProp))
{
    <p>Product Properties Value : @product.ProductProperties.FirstOrDefault( item => item.Key.Equals(SelectedProp)).Value</p>
}


<br />
<br />
Price :
<input type="number" @bind-value="product.Price" />
<br />


Product properties :
<select @bind="SelectedProp">
    @foreach (var item in product.ProductProperties)
    {
        <option value="@item.Key">@item.Key</option>
    }
</select>

@code {

    private string SelectedProp = string.Empty;

    DemoProduct product = new()
    {
        Id = 1,
        Name = "Yankee Candle",
        IsActive = true,
        Price = 9.99,
        ProductProperties = new List<DemoProductProp>()
{
    new DemoProductProp{ Id = 1, Key = "Color", Value = "Black" },
    new DemoProductProp{Id =2, Key = "Flavor", Value = "Rose Jasmine"},
    new DemoProductProp{Id = 3, Key = "size", Value = "20oz"}
}
    };

}

