@page "/DataBinding/DropDown"

@using BlazorECommersData

<div class="row">

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />
        Name : @product.Name
        <br />
        Price : @product.Price
        <br />
        Product Properties Selected : @SelectedProp
        <br />

        @if (!string.IsNullOrEmpty(SelectedProp))
        {
            <p>Product Properties Value : @product.ProductProperties.FirstOrDefault(item => item.Key.Equals(SelectedProp)).Value</p>
        }
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />
        <div>
            Price :
            <input type="number" @bind-value="product.Price" />

        </div>

        <div>
            Product properties :
            <select @bind="SelectedProp">
                @foreach (var item in product.ProductProperties)
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>
        </div>
    </div>

</div>




@code {

    private string SelectedProp = string.Empty;

    DemoProduct product = new()
    {
        Id = 1,
        Name = "Yankee Candle",
        IsActive = true,
        Price = 9.99,
        ProductProperties = new List<DemoProductProp>()
{
    new DemoProductProp{ Id = 1, Key = "Color", Value = "Black" },
    new DemoProductProp{Id =2, Key = "Flavor", Value = "Rose Jasmine"},
    new DemoProductProp{Id = 3, Key = "size", Value = "20oz"}
}
    };

}

